<ion-content>
  <ion-fab class="showMobile actionButton" vertical="bottom" horizontal="end" slot="fixed" edge>
    <ion-fab-button class="primaryButtonIcon">
      <ion-icon src="../../../assets/icon/dotsVertical.svg"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="updateEmployee()">
        <ion-icon src="../../../assets/icon/edit.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="deleteEmployee()">
        <ion-icon src="../../../assets/icon/delete.svg"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="addpsa()">
        <img src="../../../assets/icon/addPsa.png"
          style="width: 60%; height: 60%; margin-left:23%; margin-bottom: 11%;" />
        <ion-icon src="../../../assets/icon/addPsa.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>
  <div class="content">
    <app-show-employee></app-show-employee>
  </div>
</ion-content>