/*.orderPositions ion-text {
  color: black;
  font-weight: normal;
}

.orderPositions ion-col {
  display: flex;
  align-items: center;
}

.buttonItem {
  //width: 100%;
}*/

.buttonItem ion-button {
  margin: 0;
}

.checkboxDiv {
  display: flex;
  align-items: center;
}