<ion-content class="ion-padding">

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-button class="primaryButtonIcon" (click)="resetFilter()">
      <ion-icon src="../../../../../assets/icon/reset.svg"></ion-icon>
    </ion-button>
  </ion-fab>

  <div>
    <div class="filter-wrap">
      <ion-input [(ngModel)]="searchText" placeholder="Suche nach Filter"></ion-input>
    </div>
  </div>

  <ion-list>
    <ion-list-header>
      Schablonen
    </ion-list-header>
    <ion-item *ngFor="let g of games | filterall : searchText">
      <input (change)="getSelected()" type="checkbox" name="games" value="{{g.id}}" [(ngModel)]="g.selected" />
      <span class="game-text">{{g.name}}</span>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Eigenschaften
    </ion-list-header>
    <ion-item *ngFor="let g of PropertyFilter | filterall : searchText">
      <input (change)="getSelectedProperties()" type="checkbox" name="games" value="{{g.id}}"
        [(ngModel)]="g.selected" />
      <span class="game-text">{{g.name}}</span>
    </ion-item>
  </ion-list>

  <ion-button (click)="closeModal()">Filter anwenden</ion-button>

</ion-content>